.page {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 140%;
  
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.page__menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: all;
  }
}

.page__body {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page__lawyers, 
.page__topics, 
.page__mentors, 
.page__reviews, 
.page__employer {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;

  box-sizing: border-box;
  height: 100vh;
  background-color: #fff;

  font-weight: 600;
  text-transform: uppercase;

  &:target {
    opacity: 1;
    pointer-events: all;
  }
}
