@import "page.css";
@import "menu.css";
@import "top-bar.css";
@import "icon.css";
@import "main.css";
@import "nav.css";

* {
  margin: 0;
}

.header__block {
  display: flex;
  justify-content: space-between;
}